*{
  margin: 0;
  padding: 0;
}
*::selection{
  background-color: transparent;
}
:root{
  --backgroundImage: url("./assets/phonk-5000x3000-17900.jpg")

}


body {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-color: rgb(13,13,13);


  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* background: var(--backgroundImage); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.6); */
    z-index: -1;
    filter: blur(10px) drop-shadow(0 0 10px black);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

  }
}

.Back{
  position: fixed;
  left: 0;
  cursor: pointer;
  fill: white;
  transform: translateY(-1000%);
}
.Front{
  position: fixed;
  right: 0;
  cursor: pointer;
  fill: white;
  transform: translateY(-1000%);

}